
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
body {
 background-color:antiquewhite;
}

*{
    margin: 0;
    padding: 0;
}
nav{
  font-family: 'Ubuntu', sans-serif;
}
nav ul {
    margin: 10px auto;
    list-style-type: none;
    display: flex;
    height: 50px;
    background-color: black;
    color:white;
    align-items: center;
}
nav ul li{
    padding: 0 12px;
}
.brand img{
    width:40px;
    padding:0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.bottom{
    position: sticky;
    height: 95px;
    background-color: black;
    color:white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.icons{
    margin: 14px;;
}
.icons i{
    cursor: pointer;
}

.container{
    min-height: 60vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round',sans-serif;
    display: flex;
    margin: 23px auto;
    width:70%;
    border-radius: 12px;
    padding: 34px ;
    background-image: url('bg_image.jpg');
    background-repeat: no-repeat;

    background-size: cover;
    

    
}
.songItem{
    height:45px;
    display: flex;
    background-color: white; 
    color: black;
    margin:10px 0;
    justify-content: space-between;
    align-items: center;
    border-radius:34px ;
   

}
.songItemContainer{
    margin-top: 30px;
}
.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round',sans-serif;
    
    
    
}
.songInfo img{
    opacity: 0;
   transition: opacity 0.4s ease-in;
}
.songItem img{
    width: 43px;
    margin: 0 23px;
   
}
.timestamp{
    margin: 0 23px ;
   

}
.timestamp i{
    cursor: pointer;
}

#myProgressBar{
    width:80vw;
    cursor: pointer;
  
};
